@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f2f4f7;
	--foreground: #171717;
	--darkColor: #010c1a;
}

body {
	/* color: var(--foreground); */
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 30px;
}

h3 {
	font-size: 1.2rem;
}

.text-white-link {
	@apply text-white hover:text-gray-300 transition-colors duration-300;
}

.icon-white-link {
	@apply text-white hover:text-gray-300 transition-colors duration-300;
}

@media screen and (max-width: 1023px) {
	.feed-container {
		display: none;
	}
}
